@font-face {
    font-family: 'vazir' ;
    src: url(../fonts/vazir-font-v16.1.0/Vazir.ttf) format(('truetype'));
    src: url(../fonts/vazir-font-v16.1.0/Vazir.woff) format('woff');
}
 
 .my-img{
    width: 20% !important;
}

ul li a{
    color: black !important;
    text-decoration: none !important;
    text-align: center;

}
footer{
    background-color: rgba(212, 201, 201, 0.486);
}


body{
    font-family: 'vazir' ;
}

.my-button{
    font-size: 0.9em !important;
    color: white !important;
}

.nav-link{
    font-size: 12px !important;
}

.dropdown-item{
    font-size: 12px !important;
}